<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452492589286-8ddfaavg5rnn1rhs2pg8tfo8v2ndbtp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452492589286-8ddfaavg5rnn1rhs2pg8tfo8v2ndbtp8</string>
	<key>API_KEY</key>
	<string>AIzaSyBYXollWJc5ww9E8VF0aTkkIeGzZ-Rxo7g</string>
	<key>GCM_SENDER_ID</key>
	<string>452492589286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpiApp</string>
	<key>PROJECT_ID</key>
	<string>cpi-app-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>cpi-app-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452492589286:ios:e90f7717ac7825ccfba327</string>
</dict>
</plist>